.column-container {
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hs {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  overflow-x: auto;
  min-height: 200px;
}

.hs::-webkit-scrollbar {
  height: 0.25rem;
}

.hs::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.hs::-webkit-scrollbar-thumb {
  background: var(--holpoint-green);
}

.column {
  background-color: var(--holpoint-green);
  border-radius: 5px;
  min-width: 300px;
  overflow-y: auto;
  min-height: 400px;
  margin: 10px;
  padding: 10px;
}

.title {
  color: black;
  margin: 10px;
  font-size: 20px;
  text-align: center;
}

.activity {
  border: 1px solid var(--holpoint-blue);
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
  min-height: 70px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}
