.hs {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  overflow-x: auto;
  /* min-height: 200px; */
}

.hs::-webkit-scrollbar {
  height: 0.5rem;
}

.hs::-webkit-scrollbar-track {
  background: #e6e6e6;
}

.hs::-webkit-scrollbar-thumb {
  background: var(--holpoint-green);
}

.column {
  border: 2px solid;
  border-radius: 5px;
  width: 250px;
  min-height: 400px;
  margin: 10px;
  padding: 10px;
  flex-grow: 1;
  transition: background-color 0.2s ease;
}

.title {
  margin: 0px 15px 0px 15px;
  font-size: 20px;
}

.activity-card {
  color: #fff;
  margin-bottom: 10px;
}

.activity-card:hover,
.activity-card:active,
.activity-card:focus,
.activity-card.active {
  opacity: 0.8;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}

.activity-url a:link,
.activity-url a:visited {
  font-style: italic;
  color: var(--holpoint-yellow) !important;
  text-decoration: none;
}
