.group-card {
  color: white;
  background-color: var(--holpoint-red);
}

.group-card:hover,
.group-card:active,
.group-card:focus,
.group-card.active {
  opacity: 0.8;
}

.group-card {
  min-height: 300px;
}
