.idea-modal .modal-content {
  background-color: var(--holpoint-blue);
  color: #fff;
}

.idea-modal .card-body::-webkit-scrollbar-track {
  background: var(--holpoint-dark-blue);
}

.group-modal .modal-content {
  background-color: var(--holpoint-red);
  color: #fff;
}

.group-modal .card-body::-webkit-scrollbar-track {
  background: var(--holpoint-dark-red);
}

.activity-modal .modal-content {
  background-color: var(--holpoint-green);
  color: #fff;
}

.activity-modal .card-body::-webkit-scrollbar-track {
  background: var(--holpoint-dark-green);
}

/* modal body overflow */
.group-modal .card-body {
  overflow: auto;
}

.idea-modal .card-body {
  overflow: auto;
}

.activity-modal .card-body {
  overflow: auto;
}

/* modal size */
.modal-dialog,
.modal-content {
  height: 90%;
}

.modal-body {
  max-height: calc(100% - 120px);
}

.confirm-modal .modal-dialog,
.confirm-modal .modal-content {
  height: auto;
}
