:root {
  --holpoint-blue: #0099cc;
  --holpoint-dark-blue: #006080;
  --holpoint-red: #ff6b4f;
  --holpoint-dark-red: #6e1100;
  --holpoint-yellow: #ffcb31;
  --holpoint-green: #00ce83;
  --holpoint-dark-green: #006c44;
  --holpoint-light-green: #94ffd9;
  --holpoint-violet: #250c67;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background: var(--holpoint-red);
}

.text-with-newline {
  white-space: pre-line;
}

.profile-pic-small {
  border: 1px solid var(--holpoint-yellow);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic-medium {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-pic-big {
  border: 3px solid var(--holpoint-yellow);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
}
