:root {
  --holpoint-blue: #0099cc;
  --holpoint-dark-blue: #006080;
  --holpoint-red: #ff6b4f;
  --holpoint-dark-red: #6e1100;
  --holpoint-yellow: #ffcb31;
  --holpoint-green: #00ce83;
  --holpoint-violet: #250c67;
}

body::-webkit-scrollbar {
  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: #e6e6e6;
}

body::-webkit-scrollbar-thumb {
  background: var(--holpoint-red);
}

.text-with-newline {
  white-space: pre-line;
}
